<mat-card>
    <mat-spinner *ngIf="isloading"></mat-spinner>
    <form (submit)="onSignup(signupForm)" #signupForm="ngForm"
     *ngIf="!isloading"
     >
        <mat-form-field>
            <input 
            matInput 
            type="email" 
            name="email"
            #emailInput="ngModel"
            placeholder="Enter Email*"
            ngModel
            required
            email
           >
            <mat-error *ngIf="emailInput.invalid">Please enter valid email!!</mat-error>
         </mat-form-field>
         <mat-form-field>
            <input 
            matInput 
            type="password" 
            name="password"
            placeholder="Enter Password*"
            #passwordInput="ngModel"
            ngModel
            required>
            <mat-error *ngIf="passwordInput.invalid">Please enter valid password!!</mat-error>
         </mat-form-field>
         <button 
         class="my-2"
         mat-raised-button 
         color="accent"
         type="submit">Signup</button>
    </form>
</mat-card>

